body {
  background-color: rgb(51, 122, 183);
  font: 400 0.813em/1.38 'Trebuchet MS';
  color: rgb(255, 255, 255);
}

.tagline {
  float: left;
  clear: both;
  margin-left: 23.33073%;
  font-size: 1.923em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
  clear: both;
  margin-left: 23.33073%;
  color: rgb(255, 255, 255);
}

.top-link {
  display: block;
  position: relative;
  float: right;
  font-family: 'Open Sans';
  font-size: 1.077em;
  font-weight: 300;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.top-link:hover {
  text-decoration: none;
}

._element {
  float: left;
  clear: both;
  width: 80%;
  height: 76px;
  margin: 659px 0 0 10%;
  background-color: rgba(222, 222, 222, 0);
}

._text {
  margin-top: 5px;
  font-size: 1em;
}

.tagline-2 {
  margin-top: 45px;
}

.text-1 {
  font-family: Raleway;
  font-size: 3.077em;
  font-weight: 100;
}

.top-link-1 {
  z-index: 3;
  margin: 10px 29.59896% 0 0;
}

.top-link-1:active {
  text-decoration: underline;
}

.top-link-2 {
  clear: both;
  z-index: 1;
  margin: -19px 23.59896% 0 0;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 992px) {
  .tagline {
    margin-left: 23.32882%;
    font-size: 1.538em;
  }

  .text {
    margin-left: 23.32882%;
  }

  .top-link {
    position: relative;
  }

  ._element {
    margin-top: 631px;
    margin-left: 9.99874%;
  }

  ._text {
    margin-top: 6px;
  }

  .tagline-2 {
    margin-top: 51px;
  }

  .top-link-1 {
    z-index: 3;
    margin-right: 29.59772%;
  }

  .top-link-2 {
    z-index: 1;
    margin-right: 23.59816%;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 0.813em;
  }

  .text {
    margin-left: 23.32967%;
  }

  .top-link {
    position: relative;
  }

  ._element {
    margin-top: 627px;
    margin-left: 9.99756%;
  }

  ._text {
    margin-top: 12px;
  }

  .tagline-1 {
    margin-left: 23.32967%;
  }

  .tagline-2 {
    margin-top: 45px;
    margin-left: 23.59823%;
  }

  .top-link-1 {
    z-index: 3;
    margin-right: 29.59798%;
  }

  .top-link-2 {
    z-index: 1;
    margin-right: 23.59823%;
  }
}

@media(max-width: 576px) {
  .tagline {
    font-size: 1.154em;
  }

  .text {
    margin-left: 9.99349%;
  }

  .top-link {
    position: relative;
  }

  ._element {
    margin-top: 640px;
    margin-left: 9.99349%;
  }

  ._text {
    margin-top: 8px;
  }

  .tagline-1 {
    margin-top: 5px;
    margin-left: 10%;
  }

  .tagline-2 {
    margin-top: 52px;
    margin-left: 9.99349%;
  }

  .text-1 {
    position: relative;
    z-index: 4;
    margin-top: -6px;
  }

  .top-link-1 {
    z-index: 3;
    margin-right: 18.65777%;
  }

  .top-link-2 {
    z-index: 1;
    margin-right: 10.1643899999%;
  }
}