body {
  background-color: rgb(51, 122, 183);
  font: 300 0.875em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
}

.image {
  display: block;
  float: left;
  clear: both;
  width: 640px;
  height: auto;
  margin: 23px 0 0 23.33073%;
  box-shadow: 5px 9px 20px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.requirement {
  float: left;
  clear: both;
  margin-left: 23.59896%;
  font-family: 'Trebuchet MS';
  font-size: 1.286em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.tagline {
  float: left;
  clear: both;
  margin-left: 23.33073%;
  font-family: 'Trebuchet MS';
  font-size: 1.786em;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
  color: rgb(255, 255, 255);
}

.top-link {
  display: block;
  position: relative;
  float: right;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.top-link:hover {
  text-decoration: none;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 14.9666666666%;
  height: 44px;
  margin: 57px 0 0 42.39974%;
  border-radius: 5px;
  background-color: rgb(226, 178, 22);
  box-shadow: 5px 9px 10px 5px rgba(0, 0, 0, .5);
  font-family: 'Trebuchet MS';
  font-size: 1.143em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

._element {
  float: left;
  clear: both;
  width: 80%;
  height: 76px;
  margin-left: 10%;
  background-color: rgba(222, 222, 222, 0);
}

._text {
  font-size: 1em;
}

.requirement-1 {
  margin-top: 26px;
}

.requirement-2 {
  margin-top: 43px;
}

.text-1 {
  clear: both;
  margin-left: 23.33073%;
  font-family: Raleway;
  font-size: 2.857em;
  font-weight: 100;
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 7;
  margin: 11px 0 0 23.59896%;
}

.text-3 {
  position: relative;
  z-index: 8;
  margin: 11px 0 0 7.79948%;
}

.text-4 {
  clear: both;
  margin: 15px 0 0 23.33073%;
}

.top-link-1 {
  z-index: 10;
  margin: 10px 29.59896% 0 0;
}

.top-link-1:active {
  text-decoration: underline;
}

.top-link-2 {
  clear: both;
  z-index: 2;
  margin: -19px 23.59896% 0 0;
  text-decoration: underline;
}

@media(max-width: 992px) {
  .image {
    width: 542px;
    height: auto;
    margin-left: 23.28472%;
  }

  .requirement {
    margin-left: 23.59816%;
  }

  .tagline {
    margin-left: 23.59974%;
  }

  .top-link {
    position: relative;
  }

  ._button {
    margin-left: 42.39699%;
  }

  ._element {
    margin-left: 9.99874%;
  }

  .requirement-1 {
    margin-top: 65px;
  }

  .text-2 {
    position: relative;
    z-index: 7;
    margin-left: 23.59816%;
  }

  .text-3 {
    position: relative;
    z-index: 8;
    margin-left: 7.79675%;
  }

  .text-1,
  .text-4 {
    margin-left: 23.32882%;
  }

  .top-link-1 {
    z-index: 10;
    margin-right: 29.59772%;
  }

  .top-link-2 {
    z-index: 2;
    margin-right: 23.59816%;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 0.875em;
  }

  .image {
    float: none;
    clear: none;
    height: auto;
    margin-top: 161px;
    margin-right: auto;
    margin-left: auto;
  }

  .requirement {
    margin-left: 23.59823%;
  }

  .tagline,
  .text-1 {
    margin-left: 14.71151%;
  }

  .top-link {
    position: relative;
  }

  ._button {
    float: none;
    clear: none;
    margin-top: 387px;
    margin-right: auto;
    margin-left: auto;
  }

  ._element {
    margin-left: 9.99756%;
  }

  .requirement-1 {
    margin-top: 42px;
  }

  .text-2 {
    position: relative;
    z-index: 7;
    margin-left: 23.59823%;
  }

  .text-3 {
    position: relative;
    z-index: 8;
    margin-left: 7.79826%;
  }

  .text-4 {
    margin-left: 23.32967%;
  }

  .top-link-1 {
    z-index: 10;
    margin-right: 29.59798%;
  }

  .top-link-2 {
    z-index: 2;
    margin-right: 23.59823%;
  }
}

@media(max-width: 576px) {
  .image {
    width: 462px;
    height: auto;
    margin-top: 147px;
  }

  .requirement,
  .text-4 {
    margin-left: 9.89041%;
  }

  .tagline {
    margin-left: 9.89041%;
    font-size: 1.071em;
  }

  .top-link {
    position: relative;
  }

  ._button {
    margin-top: 376px;
  }

  ._element {
    margin-top: 94px;
    margin-left: 9.99349%;
  }

  ._text {
    margin-top: 18px;
  }

  .requirement-1 {
    margin-top: 48px;
  }

  .requirement-2 {
    margin-top: 27px;
  }

  .text-1 {
    position: relative;
    z-index: 11;
    margin-top: -6px;
    margin-left: 9.99349%;
  }

  .text-2 {
    position: relative;
    z-index: 7;
    margin-left: 9.89041%;
  }

  .text-3 {
    position: relative;
    z-index: 8;
    margin-left: 8.49067%;
  }

  .top-link-1 {
    z-index: 10;
    margin-right: 18.65777%;
  }

  .top-link-2 {
    z-index: 2;
    margin-right: 10.1643899999%;
  }
}